.block{
    box-sizing: border-box;
    background-color: var(--main-color);;
    border-right: 2px solid rgba(102, 101, 101, 0.52);
    width: 32%;
    height: 90vh;
    padding: 1.5rem 0.5rem 0.1rem 0.5rem ;
}

button{
    cursor: pointer;
}

.searchBlock{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    gap: 1rem;
}

.searchInfo > input{
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: 0;
    border-radius: 15px;
    background-color: #ECF1F7;
    outline: 0;
}

.searchBlock button{
    border: 0;
    border-bottom: 2px #b8b3b3 solid;
    border-radius: 15px;
    background: #ECF1F7;
    color: #336FEE;
    padding: 0 1.3rem;
    font-size: 1rem;
}
.searchBlock button:hover{
    background-color: rgba(66, 139, 249, 0.20);
}

.searchInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.filterInfo{
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0;
    border-radius: 15px;
    background-color: #ECF1F7;
}

.filterInfo > label{
    white-space: nowrap;
    color: gray;
}

.filterInfo > select{
    width: 100%;
    padding: 0.2rem 0.8rem;
    font-size: 1rem;
    background-color: #ECF1F7;
    border: 0;
    outline: 0;
    text-align: center;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68%;
    overflow: auto;
    padding: 0 0.2rem;
}

.list > *{
    margin-bottom: 0.4rem;
}
.list > *:last-child {
    margin-bottom: 0;
}

.footer{
    margin-top: 2rem;
    height: 10vh;
    border-top: 3px #D9D9D9 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.footer button{
    padding: 1.2rem 0.8rem;
    height: 1.5rem;
    background-color: #FFDD2D;
    border: 0;
    border-radius: 10px;
    border-bottom: 2px #b8b3b3 solid;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.footer button:hover{
    background-color: #f1b40b;
}
